body {
  font-family: Arial;
  background: #3a3a46;
   color: ffffff;
}


.app {
  width: 400px;
  margin: 50px auto;
  color: ffffff;
}


.hidden {
  display: none;
}


.login-box,
.chat-box {
  background: #474755;
  padding: 20px;
  border-radius: 10px;
   color: #ffffff;
}


.messages {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ffffff;
  margin: 10px 0;
  padding: 10px;
   color: ffffff;
}


.message {
  margin: 5px 0;
color: #ffffff;
}


.message-username {
  font-weight: bold;
}


.input-area {
  display: flex;
 
}

.input {
  flex: 1;
  padding: 10px;
  
}

.btn {
  padding: 10px;
  cursor: pointer;

}

